{% extends 'base.html' %}
{%block start%}
        
        <div class="todo-grid">
            <div class="todo_list todo-grid-item">
                <h1>Todo List</h1>
                <div class="messages"></div>
                <ul id="todo-list"></ul>
            </div>


            <div class="add_new todo-grid-item">
                <h1>Add a New Todo</h1>
            
                <form id="todoForm" >
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" id="title" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <input type="text" id="description" name="description" required>
                    </div>
                    <div class="form-group">
                        <label for="due_date">Due Date</label>
                        <input type="date" id="due_date" name="due_date"> 
                    </div>
                
                    
                
                    <button type="submit">Add Todo</button>
                </form>
            </div>
        
        </div>

        <div id="editModal" class="modal" style="display: none;">
            <div class="modal-content">
                <span class="close-button" onclick="closeModal()">&times;</span>
                <h2 class="model_h2">Edit Todo</h2>
                <form id="editForm">
                    <input class="model_input" type="text" id="editTitle" placeholder="Enter new title" >
                    <input class="model_input" type="text" id="editDescription" placeholder="Enter new description" >
                    <input class="model_input" type="date" id="editDate" name="due_date" > 
                    <button class="model_btn" type="submit">Save Changes</button>
                </form>
            </div>
        </div>
        
{% endblock %}
    
    

    