{% extends 'base.html' %}
{% block start %}
<div class="register_form">
    <form method="POST" class="register_form">
        <h2>Let us know about yoU</h2>
        {% csrf_token %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <input type="text" required name="first_name" placeholder="First Name">
        <input type="text" required name="last_name" placeholder="Last Name">
        <input type="email" required name="email" placeholder="Enter email">
        <input type="password" required name="password" placeholder="Enter Password">
        <input type="number" required name="phone_number" placeholder="Enter Phone Number">
        <button type="submit">Submit</button>
    </form>
</div>


{% endblock %}